<div class="text-primary modal-wrapper">
  <div class="modal-header">
    <div class="col">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Manage Tabs</h4>
    </div>
  </div>

  <div class="modal-body new-line">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="New Tab Name" [(ngModel)]="newTypeName" (keyup.enter)="addType()" />
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" (click)="addType()">Add</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <tr *ngFor="let type of logTypes">
          <td class="text-right">
            <button class="btn btn-outline-primary" (click)="toggleRow(type.typeId)">
              <i class="fa" [ngClass]="type.typeId !== editTypeId ? 'fa-pencil' : 'fa-floppy-o'" aria-hidden="true"></i>
            </button>
          </td>
          <td class="align-middle type-name">
            <span *ngIf="type.typeId !== editTypeId" [innerHTML]="type.name"></span>
            <input *ngIf="type.typeId == editTypeId" type="text" class="form-control" [(ngModel)]="type.name" />
          </td>
          <td>
            <button class="btn btn-outline-primary" (click)="deleteType(type.typeId)" [disabled]="type.hasTasks" [title]="getTitle(type.hasTasks)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">Close</button>
  </div>
</div>